@import "tailwindcss";

@keyframes next-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes next-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes prev-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}

@keyframes prev-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

::view-transition-old(page) {
  animation: 1s ease-in both next-out;
}

::view-transition-new(page) {
  animation: 1s ease-in both next-in;
}

::view-transition-old(pageprev) {
  animation: 1s ease-in both prev-out;
}

::view-transition-new(pageprev) {
  animation: 1s ease-in both prev-in;
}
